@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html, body {
  background-image: url('innerve.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
#particles-js {
    height: 100%;
    z-index: 999;
}
.navbar {
  padding: 0.8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}
.#34495e {
  position: fixed;
  top: 0;
  background: #34495e;
  width: 100%;
  height: 4em;
}
span.counter { 
  display: block; 
  margin: 10px auto; 
  font-size: 40px; 
}
.carousel-inner video {
  width: 100%;
  height: 100%;
}
.carousel-caption {
  position: absolute;
  top: 90%;
  transform: translateY(-90%);
}
.carousel-caption a{
  text-decoration: none; 
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.padding {
  padding-bottom: 2rem;
}
.welcome {
  width: 75;
  margin: 0 auto;
  padding-top: 2rem; 
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem; 
}
.fa-trophy, .fa-bullseye, .fa-briefcase {
  font-size: 4em;
  margin: 1rem;
}
#highlights .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    padding: 0 2px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
}
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 25%;
        flex: 25%;
        max-width: 25%;
    }
}
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
.fun {
  width: 100%;
  margin-bottom: 2rem;
}
.gif {
  max-width: 100%;
}
.social a {
  font-size: 4.5em;
  padding: 3rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-google-plus-g {
  color: #dd4b39;
}
.fa-instagram {
  color: #517fa8;
}
.fa-youtube {
  color: #bb0000;
}
.fa-facebook:hover, 
.fa-twitter:hover, 
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}
.input-prepend input {
  width: 20em;
}
.fa-mobile {
  font-size: 3.5em;
  padding: 0.1rem;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
} 
hr.light {
  border: 1px solid #d5d5d5;
  width:75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
hr.light-100 {
  border: 1px solid #d5d5d5;
  width:100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 3em;
  height: 3em;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fa-angle-double-up {
  color: #fff;
  margin: 0;
  position: relative;
  left: 0.9em;
  top: 0.8em;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .carousel-caption {
    top: 85%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: 0.2rem;
  }
  .dsplay-4 {
    font-size: 200%;
  }
  .socail a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 80%;
  }
  .carousel-caption h3 {
    font-size: 110%;
  }
  .carousel-indicators {
    display: none;
  }
  .dsplay-4 {
    font-size: 160%;
  }
  .socail a {
    font-size: 2em;
    padding: 0.7rem;
  }
}
/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('fest.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/